name: Tests

on: [push, pull_request]

env:
  PY_COLOR: 1
  PYTEST_ADDOPTS: "--color=yes"

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        os: [windows-latest, ubuntu-latest]
        architecture: [x64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies and package
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools wheel
          python -m pip install --upgrade --editable .[tests]
      - name: Run tests
        run: python -m pytest
